# Force npm to run node-gyp also as root, preventing permission denied errors in AWS with npm@5 (https://stackoverflow.com/questions/46001516/beanstalk-node-js-deployment-node-gyp-fails-due-to-permission-denied/46001517#46001517)
unsafe-perm=true
